# Settings
CAMERA_PORT = 0 # usually 0
CAMERA_INTERVAL = 10 # check every 10 minutes

MIN_DISTANCE = 24
IMG_NAME = '.temp.jpg'

USE_GOOGLE_VISION = True

# Get your key from https://cloud.google.com/vision/docs/common/auth
GOOGLE_VISION_KEY = 'put your key'
GOOGLE_VISION_END_POINT = "https://vision.googleapis.com/v1/images:annotate?key="
IMG_NAME = '.temp.jpg'
